VITE_DEFAULT_LAT=19.0760
VITE_DEFAULT_LNG=72.8777
VITE_DEFAULT_ZOOM=13
VITE_VEHICLE_MILEAGE_KMPL=40
VITE_INITIAL_FUEL_LITERS=2
VITE_MAPBOX_TOKEN=###your_mapbox_token
VITE_MAPBOX_STYLE=mapbox/dark-v11
VITE_FOURSQUARE_API_KEY=your_foursquare_api_key
